.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #3b79c3;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.body {
  max-height: 4125px;
  min-height: 2817px;
  border: 1px none #000;
  background-color: #f9f8ea;
}

.background-video {
  min-height: 100vh;
  min-width: 100vw;
}

.image {
  position: static;
  display: block;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  text-align: center;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 160px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  min-height: 590px;
}

.logos-without-title {
  position: relative;
  padding: 30px;
  border: 1px none #000;
  background-color: #2b2f25;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.clients-wrapper-three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 22px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clients-image-three {
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
}

.hero-heading-left {
  position: relative;
  margin-top: -6px;
  padding: 80px 10px;
  border: 1px none #000;
  background-color: #f9f8ea;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  min-width: 600px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 46%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.margin-bottom-24px {
  display: inline-block;
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 16px;
  line-height: 32px;
}

.button-primary {
  margin-top: 12px;
  padding: 12px 25px;
  border-radius: 8px;
  background-color: #2b2f25;
  box-shadow: 4px 4px 15px -1px rgba(0, 0, 0, 0.31);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  border: 2px solid #2b2f25;
  background-color: #f9f8ea;
  color: #2b2f25;
  font-weight: 700;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  max-height: 100%;
  border-radius: 8px;
  box-shadow: none;
  opacity: 1;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f26;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

.hero-heading-right {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-3 {
  display: block;
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.hero-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-split-2 {
  display: inline-block;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shadow-two-2 {
  position: absolute;
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
  text-align: center;
}

.shadow-two-2:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.margin-bottom-24px-2 {
  display: block;
  min-width: 0px;
  margin-right: 140px;
  margin-bottom: 40px;
  margin-left: 140px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  text-align: center;
}

.button-primary-2 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-2:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-2:active {
  background-color: #43464d;
}

.hero-heading-center {
  position: relative;
  margin-bottom: auto;
  padding: 80px 30px;
  border: 1px none #000;
  background-color: #f9f8ea;
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 10px;
  padding-bottom: 24px;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 64px;
  font-weight: 400;
}

.hero-without-image {
  position: relative;
  padding: 80px 10px;
  border: 1px none #000;
  background-color: #f9f8ea;
}

.hero-wrapper-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2b2f26;
  text-align: center;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 16px;
  line-height: 32px;
}

.heading-2 {
  padding-bottom: 24px;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.footer-dark {
  position: relative;
  margin-top: 80px;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #2b2f25;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-small {
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Montserrat, sans-serif;
  color: rgba(249, 248, 234, 0.52);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #f9f8ea;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.footer-social-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-copyright-center {
  padding-top: 32px;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.image-2 {
  position: fixed;
  left: 45%;
  top: 465px;
  right: 0%;
  bottom: 0%;
  display: block;
  max-width: 10%;
  float: left;
  clear: left;
}

.lottie-animation {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 15%;
  margin-top: 0px;
  margin-left: 0px;
  clear: both;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link {
  color: #fff;
  font-weight: 700;
}

.grid {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 203px;
  grid-template-rows: 203px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 360px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  margin-right: 0px;
  margin-left: 0px;
}

.div-block-4 {
  margin-bottom: 66px;
}

.body-2 {
  background-color: #2b2f25;
}

.field-label {
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
}

.text-field {
  border-bottom: 3px solid #fff;
  border-radius: 8px;
  background-color: #f9f8ea;
  opacity: 1;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-weight: 500;
  mix-blend-mode: normal;
}

.button2 {
  display: block;
  min-width: 100%;
  margin: 25px auto;
  padding: 12px 25px;
  clear: both;
  border-radius: 23px;
  background-color: #f9f8ea;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button2:hover {
  border: 1px solid #2b2f25;
  background-color: #f9f8ea;
  color: #2b2f25;
  font-weight: 700;
}

.button2:active {
  background-color: #43464d;
}

.form-block {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.link-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.lottie-animation-2 {
  display: inline;
  max-height: 25%;
  max-width: 25%;
  margin-left: 339px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.column {
  position: relative;
  display: block;
  min-height: 235px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Rectangle-11.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-2 {
  min-height: 235px;
  background-image: url('../images/Rectangle-13.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-3 {
  height: 235px;
  background-image: url('../images/Rectangle-12.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-4 {
  height: 235px;
  background-image: url('../images/Rectangle-15.png');
  background-position: 50% 50%;
  background-size: cover;
}

.margin-bottom-24px-3-copy {
  display: inline;
  width: 500px;
  margin-bottom: 24px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: left;
}

.heading-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 633px;
  min-width: 100px;
  margin-left: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  text-align: left;
}

.button-primary-copy {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin: 220px;
  padding: 12px 25px;
  border-radius: 23px;
  background-color: #2b2f25;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-copy:hover {
  border: 1px solid #2b2f25;
  background-color: #f9f8ea;
  color: #2b2f25;
  font-weight: 700;
}

.button-primary-copy:active {
  background-color: #43464d;
}

.div-block-5 {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 235px;
  clear: both;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #2b2f25;
}

.team-slider {
  position: relative;
  padding: 24px 10px 80px;
  border: 1px none #000;
  background-color: #f9f8ea;
  outline-color: #2b2f25;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #2b2f25;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.centered-heading-2 {
  margin-bottom: 16px;
  font-family: 'Baskerville old face 6117', sans-serif;
  font-size: 64px;
  line-height: 44px;
  text-align: center;
}

.centered-subheading {
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-slider-wrapper {
  height: auto;
  margin-top: 50px;
  background-color: transparent;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
  border-radius: 0px;
  background-color: transparent;
}

.team-block {
  padding-bottom: 0px;
  border-radius: 20px;
  background-color: #f9f8ea;
  box-shadow: 4px 4px 16px -10px rgba(0, 0, 0, 0.78);
}

.team-member-image-two {
  max-height: 200px;
  margin-bottom: -1px;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-block-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2b2f25;
  text-align: center;
}

.team-member-name-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
}

.team-member-text {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 12px;
  line-height: 24px;
}

.text-link-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.arrow-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2px;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  position: static;
  bottom: -60px;
  display: none;
  margin-top: 24px;
  font-size: 10px;
}

.image-3 {
  display: none;
}

.slider {
  min-height: 216px;
  min-width: 447px;
}

.slide {
  background-image: url('../images/073-reflections-open-house-maggshots-photography_51_10745-160373294045066.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/istockphoto-637765812-612x612.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/Brandi-Toole-Photography-Wedding-528.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  border-radius: 8px;
  background-image: url('../images/Aanenson_Celebration_of_Life-0414_433_650_84.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-nav {
  display: none;
}

.paragraph {
  font-size: 16px;
}

.paragraph-2 {
  text-align: center;
}

.heading-3 {
  text-align: center;
}

.margin-bottom-24px-copy {
  display: inline-block;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mask {
  overflow: visible;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

.image-4 {
  display: block;
  margin-top: -888px;
  margin-left: 650px;
  background-image: url('../images/Aanenson_Celebration_of_Life-0414_433_650_84.jpeg');
  background-position: 0px 0px;
  background-size: auto;
}

.heading-4-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #f9f8ea;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 2px;
}

.checkbox {
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
}

.grid-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.columns {
  margin-right: 220px;
  margin-left: 220px;
}

.column-5 {
  padding-left: 20px;
}

.column-6 {
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .margin-bottom-24px {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .button-primary {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .shadow-two {
    max-width: 100%;
    min-width: 712px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .heading {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .container-3 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    margin-bottom: -40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .shadow-two-2 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .heading-copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .button-primary-copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-4 {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .margin-bottom-24px-copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .heading-4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .heading-4-copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .logos-without-title {
    padding: 60px 15px 30px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .shadow-two {
    max-width: 0%;
  }

  .hero-heading-right {
    padding: 60px 15px;
  }

  .hero-heading-center {
    padding: 60px 15px;
  }

  .hero-without-image {
    padding: 60px 15px;
  }

  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .column {
    margin-bottom: 20px;
  }

  .column-2 {
    margin-bottom: 20px;
  }

  .column-3 {
    margin-bottom: 20px;
  }

  .column-4 {
    margin-bottom: 20px;
  }

  .team-slider {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .background-video {
    min-height: 50vh;
  }

  .div-block-2 {
    min-height: 490px;
  }

  .container {
    max-width: none;
  }

  .clients-wrapper-three {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .clients-image-three {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .container-2 {
    max-width: none;
  }

  .hero-wrapper {
    margin-bottom: auto;
  }

  .margin-bottom-24px {
    width: 290px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }

  .button-primary {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .shadow-two {
    max-height: 0%;
    max-width: 0%;
    min-width: 292px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .heading {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .container-3 {
    max-width: none;
  }

  .shadow-two-2 {
    overflow: visible;
    padding-right: 3px;
    padding-left: 3px;
  }

  .margin-bottom-24px-2 {
    min-width: 100%;
    margin-left: 0px;
  }

  .hero-heading-center {
    margin-bottom: 0px;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .grid {
    grid-auto-flow: column;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 160px auto;
    grid-template-rows: 160px auto;
  }

  .button2 {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .heading-copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .button-primary-copy {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-4 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .margin-bottom-24px-copy {
    width: 290px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }

  .heading-4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .heading-4-copy {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }
}

#w-node-ae3d97b0-297c-4c92-4a85-ef84079cca6c-ba36fd51 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ae3d97b0-297c-4c92-4a85-ef84079cca75-ba36fd51 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ae3d97b0-297c-4c92-4a85-ef84079cca80-ba36fd51 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-b5398e6f-2106-d77c-852a-a51fecddce6c-ba36fd51 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'Baskerville old face 6117';
  src: url('../fonts/Baskerville-Old-Face_6117.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}