.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #3b79c3;
}

.body {
  max-height: 4125px;
  min-height: 2817px;
  border: 1px none #000;
  background-color: #f9f8ea;
}

.background-video {
  min-height: 100vh;
  min-width: 100vw;
}

.image {
  position: static;
  display: block;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  float: none;
  clear: both;
  text-align: center;
}

.text-block {
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.div-block {
  display: flex;
  min-height: 160px;
  justify-content: center;
  align-items: center;
}

.div-block-2 {
  min-height: 590px;
}

.logos-without-title {
  position: relative;
  padding: 30px;
  border: 1px none #000;
  background-color: #2b2f25;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.clients-wrapper-three {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 22px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.clients-image-three {
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
}

.hero-heading-left {
  position: relative;
  margin-top: -6px;
  padding: 80px 10px;
  border: 1px none #000;
  background-color: #f9f8ea;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.hero-wrapper {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  min-width: 600px;
  justify-content: space-between;
  align-items: center;
}

.hero-split {
  display: flex;
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.margin-bottom-24px {
  display: inline-block;
  width: 510px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 16px;
  line-height: 32px;
}

.margin-bottom-24px._2 {
  color: #f9f8ea;
  text-align: center;
}

.margin-bottom-24px.icon {
  width: 340px;
}

.margin-bottom-24px.faq {
  width: 100%;
}

.button-primary {
  margin-top: 12px;
  padding: 12px 25px;
  border-radius: 20px;
  background-color: #2b2f25;
  box-shadow: 4px 4px 15px -1px rgba(0, 0, 0, 0.31);
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  border: 2px none #2b2f25;
  background-color: #657a4e;
  color: #f9f8ea;
  font-weight: 700;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary.secondary {
  background-color: transparent;
  box-shadow: none;
  color: #2b2f25;
}

.button-primary.secondary:hover {
  color: #657a4e;
}

.button-primary.secondary._2 {
  background-color: rgba(101, 122, 78, 0);
  color: #f9f8ea;
}

.button-primary._2 {
  background-color: #657a4e;
}

.button-primary._2:hover {
  background-color: #93a573;
}

.button-primary._3 {
  background-color: #e0ddba;
  color: #1e201b;
}

.button-primary._3:hover {
  background-color: #93a573;
  color: #f9f8ea;
}

.shadow-two {
  max-height: 100%;
  border-radius: 8px;
  box-shadow: none;
  opacity: 1;
}

.heading {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

.heading._2 {
  justify-content: center;
  align-items: center;
}

.heading._3 {
  font-size: 36px;
}

.heading._4 {
  justify-content: center;
  align-items: center;
  color: #f9f8ea;
}

.hero-heading-right {
  position: relative;
  padding: 80px 30px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #f5f7fa;
}

.container-3 {
  display: block;
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.hero-wrapper-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-split-2 {
  display: inline-block;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shadow-two-2 {
  position: absolute;
  box-shadow: 0 4px 24px 0 rgba(150, 163, 181, 0.08);
  text-align: center;
}

.shadow-two-2:hover {
  opacity: 1;
  filter: none;
}

.margin-bottom-24px-2 {
  display: block;
  min-width: 0px;
  margin-right: 140px;
  margin-bottom: 40px;
  margin-left: 140px;
  clear: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -ms-grid-row-align: center;
  align-self: center;
  flex: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  text-align: center;
}

.button-primary-2 {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-2:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary-2:active {
  background-color: #43464d;
}

.hero-heading-center {
  position: relative;
  margin-bottom: auto;
  padding: 80px 30px;
  border: 1px none #000;
  background-color: #f9f8ea;
}

.centered-heading {
  margin-bottom: 16px;
  text-align: center;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 10px;
  padding-bottom: 24px;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 64px;
  font-weight: 400;
}

.hero-without-image {
  position: relative;
  margin-bottom: -80px;
  padding: 80px 10px;
  border: 1px none #000;
  background-color: #1e201b;
}

.hero-wrapper-two {
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #2b2f26;
  text-align: center;
}

.margin-bottom-24px-3 {
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 16px;
  line-height: 32px;
}

.margin-bottom-24px-3._2 {
  color: #f9f8ea;
}

.heading-2 {
  padding-bottom: 24px;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.footer-dark {
  position: relative;
  margin-top: 80px;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #2b2f25;
}

.footer-wrapper {
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title-small {
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Montserrat, sans-serif;
  color: rgba(249, 248, 234, 0.52);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #f9f8ea;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.footer-social-block {
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  justify-content: flex-start;
  align-items: center;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-copyright-center {
  padding-top: 32px;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.image-2 {
  position: fixed;
  left: 45%;
  top: 465px;
  right: 0%;
  bottom: 0%;
  display: block;
  max-width: 10%;
  float: left;
  clear: left;
}

.lottie-animation {
  position: static;
  display: flex;
  max-width: 15%;
  margin-top: 0px;
  margin-left: 0px;
  clear: both;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link {
  color: #fff;
  font-weight: 700;
}

.grid {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 203px;
  grid-template-rows: 203px;
}

.div-block-3 {
  display: flex;
  padding-top: 360px;
  justify-content: center;
  align-items: center;
}

.form {
  margin-right: 0px;
  margin-left: 0px;
}

.div-block-4 {
  margin-bottom: 66px;
}

.body-2 {
  background-color: #2b2f25;
}

.field-label {
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
}

.text-field {
  border-bottom: 3px solid #fff;
  border-radius: 8px;
  background-color: #f9f8ea;
  opacity: 1;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-weight: 500;
  mix-blend-mode: normal;
}

.button2 {
  display: block;
  min-width: 100%;
  margin: 25px auto;
  padding: 12px 25px;
  clear: both;
  border-radius: 23px;
  background-color: #f9f8ea;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button2:hover {
  border: 1px solid #2b2f25;
  background-color: #f9f8ea;
  color: #2b2f25;
  font-weight: 700;
}

.button2:active {
  background-color: #43464d;
}

.form-block {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.link-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.lottie-animation-2 {
  display: inline;
  max-height: 25%;
  max-width: 25%;
  margin-left: 339px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
}

.text-block-3 {
  display: flex;
}

.text-block-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.column {
  position: relative;
  display: block;
  min-height: 235px;
  justify-content: center;
  align-items: center;
  background-image: url('../images/Rectangle-11.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-2 {
  min-height: 235px;
  background-image: url('../images/Rectangle-13.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-3 {
  height: 235px;
  background-image: url('../images/Rectangle-12.png');
  background-position: 50% 50%;
  background-size: cover;
}

.column-4 {
  height: 235px;
  background-image: url('../images/Rectangle-15.png');
  background-position: 50% 50%;
  background-size: cover;
}

.margin-bottom-24px-3-copy {
  display: inline;
  width: 500px;
  margin-bottom: 24px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: left;
}

.heading-copy {
  display: flex;
  width: 633px;
  min-width: 100px;
  margin-left: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  float: none;
  clear: none;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  text-align: left;
}

.button-primary-copy {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin: 220px;
  padding: 12px 25px;
  border-radius: 23px;
  background-color: #2b2f25;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary-copy:hover {
  border: 1px solid #2b2f25;
  background-color: #f9f8ea;
  color: #2b2f25;
  font-weight: 700;
}

.button-primary-copy:active {
  background-color: #43464d;
}

.div-block-5 {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: flex;
  width: 700px;
  height: 235px;
  clear: both;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px none #000;
  border-radius: 0px;
  background-color: #2b2f25;
}

.team-slider {
  position: relative;
  padding: 24px 10px 80px;
  border: 1px none #000;
  background-color: #f9f8ea;
  outline-color: #2b2f25;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #2b2f25;
}

.container-4 {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.centered-heading-2 {
  margin-bottom: 16px;
  font-family: 'Baskerville old face 6117', sans-serif;
  font-size: 64px;
  line-height: 44px;
  text-align: center;
}

.centered-subheading {
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.team-slider-wrapper {
  height: auto;
  margin-top: 50px;
  background-color: transparent;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
  border-radius: 0px;
  background-color: transparent;
  transform-origin: 50% 100%;
}

.team-block {
  padding-bottom: 0px;
  border-radius: 20px;
  background-color: #f9f8ea;
  box-shadow: 4px 4px 16px -10px rgba(0, 0, 0, 0.78);
  transform-origin: 50% 100%;
  transition: transform 250ms ease-out;
}

.team-block:hover {
  box-shadow: 4px 4px 15px -7px rgba(0, 0, 0, 0.86);
  transform: scale(1.1);
}

.team-member-image-two {
  max-height: 200px;
  margin-bottom: -1px;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.team-block-info {
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;
  align-items: center;
  color: #2b2f25;
  text-align: center;
}

.team-member-name-two {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
}

.team-member-text {
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 12px;
  line-height: 24px;
}

.text-link-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.arrow-embed {
  display: flex;
  margin-left: 2px;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  position: static;
  bottom: -60px;
  display: none;
  margin-top: 24px;
  font-size: 10px;
}

.image-3 {
  display: none;
}

.slider {
  min-height: 216px;
  min-width: 447px;
}

.slide {
  background-image: url('../images/073-reflections-open-house-maggshots-photography_51_10745-160373294045066.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/istockphoto-637765812-612x612.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/Brandi-Toole-Photography-Wedding-528.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  border-radius: 8px;
  background-image: url('../images/Aanenson_Celebration_of_Life-0414_433_650_84.jpeg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-nav {
  display: none;
}

.paragraph {
  font-size: 16px;
}

.paragraph-2 {
  text-align: center;
}

.heading-3 {
  text-align: center;
}

.margin-bottom-24px-copy {
  display: inline-block;
  margin-bottom: 64px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.div-block-6 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mask {
  overflow: visible;
}

.heading-4 {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  justify-content: center;
  align-items: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f25;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 2px;
}

.image-4 {
  display: block;
  margin-top: -888px;
  margin-left: 650px;
  background-image: url('../images/Aanenson_Celebration_of_Life-0414_433_650_84.jpeg');
  background-position: 0px 0px;
  background-size: auto;
}

.heading-4-copy {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #f9f8ea;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 2px;
}

.checkbox {
  font-family: Montserrat, sans-serif;
  color: #f9f8ea;
}

.grid-2 {
  justify-content: center;
  justify-items: start;
  align-items: center;
  align-content: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.columns {
  margin-right: 220px;
  margin-left: 220px;
}

.column-5 {
  padding-left: 20px;
}

.column-6 {
  padding-right: 20px;
}

.text-field-copy {
  border-bottom: 3px solid #fff;
  border-radius: 8px;
  background-color: #f9f8ea;
  opacity: 1;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 0px;
  font-family: Montserrat, sans-serif;
  color: #2b2f25;
  font-weight: 500;
  mix-blend-mode: normal;
}

.html-embed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-embed-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.html-embed-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-block-7 {
  margin-right: auto;
  margin-left: auto;
}

.rl-button-secondary {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  text-align: center;
}

.rl_faq1_spacing-block-5 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

.rl_faq1_spacing-block-4 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-heading-style-h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
}

.rl_faq1_cta-wrapper {
  width: 100%;
  max-width: 35rem;
  text-align: center;
}

.rl_faq1_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-text-style-regular {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.rl_faq1_answer-wrapper {
  margin-bottom: 1.5rem;
}

.rl_faq1_answer {
  overflow: hidden;
}

.rl_faq1_icon {
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.rl_faq1_icon-wrapper {
  align-self: flex-start;
}

.rl_faq1_question-text {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
}

.rl_faq1_question {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-top: 1px solid #000;
  cursor: pointer;
}

.rl_faq1_accordion {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.rl_faq1_list {
  border-bottom: 1px solid #000;
}

.rl_faq1_spacing-block-2 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_faq1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

.rl_faq1_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_faq1_component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rl-padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.rl-padding-global {
  padding-right: 5%;
  padding-left: 5%;
}

.rl_section_faq1 {
  background-color: #f9f8ea;
}

.question {
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 13px;
  justify-content: center;
  align-items: center;
  font-family: 'Baskerville old face 6117', sans-serif;
  color: #2b2f26;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}

.rl-button-secondary-2 {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  text-align: center;
}

.rl_faq1_spacing-block-5-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

.rl-text-style-medium-2.is-white {
  color: #fff;
}

.rl_faq1_spacing-block-4-2 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-heading-style-h4-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
}

.rl_faq1_cta-wrapper-2 {
  width: 100%;
  max-width: 35rem;
  text-align: center;
}

.rl_faq1_spacing-block-3-2 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-text-style-regular-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.rl_faq1_answer-wrapper-2 {
  margin-bottom: 1.5rem;
}

.rl_faq1_answer-2 {
  overflow: hidden;
}

.rl_faq1_icon-2 {
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.rl_faq1_icon-wrapper-2 {
  align-self: flex-start;
}

.rl_faq1_question-text-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
}

.rl_faq1_question-2 {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-top: 1px solid #000;
  cursor: pointer;
}

.rl_faq1_accordion-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.rl_faq1_list-2 {
  border-bottom: 1px solid #000;
}

.rl_faq1_spacing-block-2-2 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_faq1_spacing-block-1-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

.rl_faq1_heading-wrapper-2 {
  width: 100%;
  max-width: 80rem;
  text-align: center;
}

.rl_faq1_component-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rl-padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-container-small-2 {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.rl-padding-global-2 {
  padding-right: 5%;
  padding-left: 5%;
}

.rl_section_faq1-2 {
  background-color: #f9f8ea;
}

.rl_gallery10_lightbox-link {
  width: 100%;
  margin-bottom: 2rem;
}

.rl_gallery10_masonry-grid {
  width: 100%;
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.rl_gallery10_spacing-block-2 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_gallery10_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_gallery10_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_gallery10_component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.rl_section_gallery10 {
  background-color: #f9f8ea;
}

.rl-button-link-icon {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rl-button-link {
  display: flex;
  padding: 0.25rem 0rem;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.rl-button-group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.rl_layout1_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_layout1_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

.rl_layout1_component {
  display: -ms-grid;
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rl_section_layout1 {
  background-color: #f9f8ea;
}

.rl-button-group-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.rl_layout237_spacing-block-6 {
  width: 100%;
  padding-bottom: 4rem;
}

.rl_layout237_spacing-block-5 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout237_spacing-block-4 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout237_icon {
  width: 3rem;
  height: 3rem;
}

.rl_layout237_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rl_layout237_content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rl_layout237_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_layout237_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout237_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_layout237_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.rl_layout237_component-copy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rl_section_layout237 {
  background-color: #f9f8ea;
}

.rl_layout239_spacing-block-6 {
  width: 100%;
  padding-bottom: 4rem;
}

.rl_layout239_spacing-block-5 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout239_spacing-block-4 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_layout239_image-wrapper {
  position: relative;
  width: 100%;
}

.rl_layout239_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.rl_layout239_content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rl_layout239_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_layout239_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout239_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_layout239_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_layout239_component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rl_section_layout239 {
  background-color: #fff;
}

.rl-text-style-link {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}

.rl_contact20_spacing-block-6 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_contact20_spacing-block-5 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_contact20_spacing-block-4 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_contact20_icon {
  width: 3rem;
  height: 3rem;
}

.rl_contact20_item {
  width: 100%;
  text-align: center;
}

.rl_contact20_content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rl_contact20_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_contact20_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_contact20_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_contact20_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_contact20_component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rl_section_contact20 {
  background-color: #fff;
}

.rl-button {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.rl_header62_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_header62_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.rl-heading-style-h1.is-white {
  color: #fff;
}

.rl_header62_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_header62_component {
  text-align: center;
}

.rl-container-small-3 {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.rl_section_header62 {
  background-color: #f9f8ea;
}

.rl-button-secondary-alternate {
  padding: 0.75rem 1.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.rl_heading1_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_heading1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_header5_content {
  width: 100%;
  max-width: 35rem;
  -ms-grid-row-align: auto;
  align-self: auto;
  color: #fff;
}

.header5_component {
  display: flex;
  max-height: 50rem;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.rl_section_header5 {
  position: relative;
  margin-bottom: -80px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url('../images/Screen-Shot-2022-12-07-at-6.19.08-PM.png');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: inline-block;
  background-color: #2b2f25;
}

@media screen and (max-width: 991px) {
  .image {
    max-width: 90%;
    padding-top: 30px;
  }

  .container {
    max-width: 728px;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }

  .container-2 {
    max-width: 728px;
  }

  .hero-wrapper {
    margin-bottom: -40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .margin-bottom-24px {
    display: flex;
    width: 500px;
    padding-right: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    text-align: left;
  }

  .margin-bottom-24px.icon {
    width: 560px;
    text-align: center;
  }

  .margin-bottom-24px.faq {
    text-align: left;
  }

  .button-primary {
    width: 240px;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .shadow-two {
    max-width: 100%;
    min-width: 712px;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .heading {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .heading._3 {
    justify-content: center;
    align-items: center;
  }

  .container-3 {
    max-width: 728px;
  }

  .hero-wrapper-2 {
    margin-bottom: -40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero-split-2 {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .shadow-two-2 {
    padding-right: 3px;
    padding-left: 3px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .heading-copy {
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .button-primary-copy {
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-4 {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .margin-bottom-24px-copy {
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }

  .heading-4 {
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .heading-4-copy {
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .rl-heading-style-h4 {
    font-size: 1.75rem;
  }

  .rl_faq1_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl_faq1_spacing-block-2 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .question {
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
  }

  .rl-heading-style-h4-2 {
    font-size: 1.75rem;
  }

  .rl_faq1_spacing-block-3-2 {
    padding-bottom: 4.5rem;
  }

  .rl_faq1_spacing-block-2-2 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl_gallery10_spacing-block-2 {
    padding-bottom: 4.5rem;
  }

  .rl_layout1_image {
    padding-right: 90px;
    padding-left: 90px;
  }

  .rl_layout1_image-wrapper {
    width: 100%;
  }

  .rl-button-group {
    width: 510px;
    align-items: center;
  }

  .rl_layout1_component {
    display: flex;
    min-height: auto;
    flex-direction: column;
    grid-auto-flow: row;
    grid-column-gap: 0rem;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
  }

  .rl_layout237_spacing-block-6 {
    padding-bottom: 3.5rem;
  }

  .rl_layout237_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-gap: 2rem;
  }

  .rl_layout237_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl_layout237_component-copy {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .rl_layout239_spacing-block-6 {
    padding-bottom: 3.5rem;
  }

  .rl_layout239_content {
    grid-column-gap: 2rem;
  }

  .rl_layout239_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl_contact20_content {
    grid-column-gap: 2rem;
  }

  .rl_contact20_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h1 {
    font-size: 3.25rem;
  }
}

@media screen and (max-width: 767px) {
  .text-block {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 30px;
  }

  .logos-without-title {
    padding: 30px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .hero-heading-left {
    padding: 60px 15px;
  }

  .margin-bottom-24px {
    text-align: center;
  }

  .margin-bottom-24px.icon {
    width: 470px;
  }

  .button-primary {
    width: 450px;
  }

  .shadow-two {
    max-width: 0%;
  }

  .hero-heading-right {
    padding: 60px 15px;
  }

  .hero-heading-center {
    padding: 60px 15px;
  }

  .hero-without-image {
    padding: 60px 15px;
  }

  .margin-bottom-24px-3._2 {
    width: 370px;
  }

  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .column {
    margin-bottom: 20px;
  }

  .column-2 {
    margin-bottom: 20px;
  }

  .column-3 {
    margin-bottom: 20px;
  }

  .column-4 {
    margin-bottom: 20px;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .rl_faq1_spacing-block-5 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium {
    font-size: 1rem;
  }

  .rl_faq1_spacing-block-4 {
    padding-bottom: 0.75rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl_faq1_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_faq1_answer-wrapper {
    margin-bottom: 1.25rem;
  }

  .rl_faq1_icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .rl_faq1_icon-wrapper {
    width: 1.75rem;
  }

  .rl_faq1_question-text {
    font-size: 1rem;
  }

  .rl_faq1_question {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .rl_faq1_spacing-block-2 {
    padding-bottom: 3rem;
  }

  .rl_faq1_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_faq1_spacing-block-5-2 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium-2 {
    font-size: 1rem;
  }

  .rl_faq1_spacing-block-4-2 {
    padding-bottom: 0.75rem;
  }

  .rl-heading-style-h4-2 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl_faq1_spacing-block-3-2 {
    padding-bottom: 3rem;
  }

  .rl_faq1_answer-wrapper-2 {
    margin-bottom: 1.25rem;
  }

  .rl_faq1_icon-2 {
    width: 1.75rem;
    height: 1.75rem;
  }

  .rl_faq1_icon-wrapper-2 {
    width: 1.75rem;
  }

  .rl_faq1_question-text-2 {
    font-size: 1rem;
  }

  .rl_faq1_question-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .rl_faq1_spacing-block-2-2 {
    padding-bottom: 3rem;
  }

  .rl_faq1_spacing-block-1-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.25rem;
  }

  .rl-padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_section_faq1-2 {
    display: none;
  }

  .rl_gallery10_masonry-grid {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .rl_gallery10_spacing-block-2 {
    padding-bottom: 3rem;
  }

  .rl_gallery10_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .rl_layout1_image {
    padding-right: 8px;
    padding-left: 8px;
  }

  .rl-button-group {
    width: 500px;
    flex-direction: column;
  }

  .rl_layout1_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl_layout1_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout1_spacing-block-1 {
    padding-bottom: 0.75rem;
  }

  .rl_layout1_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_layout237_spacing-block-6 {
    padding-bottom: 2.5rem;
  }

  .rl_layout237_spacing-block-5 {
    padding-bottom: 1.25rem;
  }

  .rl_layout237_spacing-block-4 {
    padding-bottom: 1.25rem;
  }

  .rl_layout237_content {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_layout237_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_layout237_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout237_spacing-block-1 {
    padding-bottom: 0.75rem;
  }

  .rl_layout239_spacing-block-6 {
    padding-bottom: 2.5rem;
  }

  .rl_layout239_spacing-block-5 {
    padding-bottom: 1.25rem;
  }

  .rl_layout239_spacing-block-4 {
    padding-bottom: 1.5rem;
  }

  .rl_layout239_content {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_layout239_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_layout239_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout239_spacing-block-1 {
    padding-bottom: 0.75rem;
  }

  .rl_contact20_spacing-block-6 {
    padding-bottom: 1.25rem;
  }

  .rl_contact20_spacing-block-5 {
    padding-bottom: 0.75rem;
  }

  .rl_contact20_spacing-block-4 {
    padding-bottom: 1.25rem;
  }

  .rl_contact20_content {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_contact20_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl_contact20_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_contact20_spacing-block-1 {
    padding-bottom: 0.75rem;
  }

  .rl_header62_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl_header62_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h1 {
    font-size: 2.5rem;
  }

  .rl_header62_spacing-block-1 {
    padding-bottom: 0.75rem;
  }

  .rl_heading1_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl_heading1_spacing-block-1 {
    padding-bottom: 1.25rem;
  }
}

@media screen and (max-width: 479px) {
  .body {
    max-height: 2030px;
    min-height: 0px;
  }

  .background-video {
    min-height: 50vh;
  }

  .text-block {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
  }

  .div-block-2 {
    min-height: 490px;
  }

  .container {
    max-width: none;
  }

  .clients-wrapper-three {
    display: flex;
    margin-bottom: 0px;
    justify-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .clients-image-three {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .hero-heading-left {
    padding-left: 15px;
  }

  .container-2 {
    max-width: none;
  }

  .hero-wrapper {
    margin-bottom: auto;
  }

  .margin-bottom-24px {
    width: 290px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-row-align: center;
    align-self: center;
    order: 0;
    flex: 0 auto;
    font-size: 12px;
    text-align: center;
  }

  .margin-bottom-24px.icon {
    width: 240px;
    margin-right: auto;
    margin-left: auto;
  }

  .margin-bottom-24px.faq {
    width: 270px;
    margin-left: 0px;
    font-size: 16px;
  }

  .button-primary {
    display: block;
    width: 240px;
    justify-content: center;
    align-items: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .shadow-two {
    max-height: 0%;
    max-width: 0%;
    min-width: 292px;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .heading {
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .heading._2 {
    width: 280px;
  }

  .heading._3 {
    width: 240px;
    margin-right: auto;
    margin-left: auto;
  }

  .heading._4 {
    width: 260px;
  }

  .container-3 {
    max-width: none;
  }

  .shadow-two-2 {
    overflow: visible;
    padding-right: 3px;
    padding-left: 3px;
  }

  .margin-bottom-24px-2 {
    min-width: 100%;
    margin-left: 0px;
  }

  .hero-heading-center {
    margin-bottom: 0px;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .margin-bottom-24px-3._2 {
    width: 240px;
  }

  .grid {
    grid-auto-flow: column;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 160px auto;
    grid-template-rows: 160px auto;
  }

  .button2 {
    display: block;
    justify-content: center;
    align-items: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .form-block {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .heading-copy {
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .button-primary-copy {
    display: block;
    justify-content: center;
    align-items: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .container-4 {
    max-width: none;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .slider {
    min-height: 100%;
    min-width: 283px;
  }

  .slide-4 {
    position: static;
    min-width: 154px;
  }

  .margin-bottom-24px-copy {
    width: 290px;
    -ms-grid-row-align: center;
    align-self: center;
    order: 0;
    flex: 0 auto;
    text-align: center;
  }

  .heading-4 {
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
  }

  .heading-4-copy {
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .question {
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .rl-padding-global-2 {
    display: flex;
  }

  .rl_section_faq1-2 {
    display: none;
  }

  .rl_gallery10_image {
    max-width: 100%;
  }

  .rl-button-group {
    flex-direction: column;
  }

  .rl_layout1_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_layout237_content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_layout239_content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .rl_contact20_content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-ae3d97b0-297c-4c92-4a85-ef84079cca6c-ba36fd51 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ae3d97b0-297c-4c92-4a85-ef84079cca75-ba36fd51 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ae3d97b0-297c-4c92-4a85-ef84079cca80-ba36fd51 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-b5398e6f-2106-d77c-852a-a51fecddce6c-ba36fd51 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@font-face {
  font-family: 'Baskerville old face 6117';
  src: url('../fonts/Baskerville-Old-Face_6117.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}